<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Compression</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script&family=Great+Vibes&family=Lato&family=Roboto&display=swap" rel="stylesheet">

</head>
<body >
    <div id="bg"></div>
        <h1>Compress Your File</h1>
        <h5>Select your file to compress</h5>
        <div class="file">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="file" class="form-control form-control-lg form" accept=".jpg,.png,.txt,.pdf" id="formFileLg" type="file">
            <button type="submit" class="btn submit btn-secondary btn-lg">Submit</button>
          </form>
          </div>
       
        <script type="text/javascript" src="../../static/particles.min.js"></script>
      <script type="text/javascript" src="../../static/compress_custom.js"></script>
</body>
</html>
